/* 
  src: 사용할 폰트의 위치 및 형식 
    Modern Browsers => woff2
    IE => woff
*/

/* 폰트 적용할 때 fallback폰트도 같이 써주기 */
/* font-family:Pretendard-???, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif; */

@font-face {
  font-family: "YesevaOne";
  font-display: fallback;
  src: local("YesevaOne-Regular"), url("./YesevaOne-Regular.woff2") format("woff2"),
    url("./YesevaOne-Regular.woff") format("woff"),
    url("./YesevaOne-Regular.ttf") format("trueType");
}